.form__error {
  visibility: hidden;

  color: #F00;

  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 15px;

  flex: 1 1 47%;
  margin-right: 2%;
}

.form__error:last-of-type {
  margin-right: 0;
}
